In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('sales.csv')

In [4]:
data.head(10)

,OrderNumber,OrderDate,Customer Name Index,Channel,Currency Code,Warehouse Code,Delivery Region Index,Product Description Index,Order Quantity,Unit Price,Line Total,Total Unit Cost
0,SO - 000225,1/1/2015,126,Wholesale,GBP,AXW291,82,27,6,"2,499.10","14,994.60","1,824.34"
1,SO - 0003378,1/1/2015,96,Distributor,GBP,AXW291,32,20,11,"2,351.70","25,868.70","1,269.92"
2,SO - 0005126,1/1/2015,8,Wholesale,GBP,AXW291,7,26,6,978.20,"5,869.20",684.74
3,SO - 0005614,1/1/2015,42,Export,GBP,AXW291,5,7,7,"2,338.30","16,368.10","1,028.85"
4,SO - 0005781,1/1/2015,73,Wholesale,GBP,AXW291,20,8,8,"2,291.40","18,331.20","1,260.27"
5,SO - 0010394,1/1/2015,138,Export,GBP,NXH382,61,23,11,"5,219.30","57,412.30","4,332.02"
6,SO - 0008865,1/1/2015,53,Wholesale,GBP,GUT930,47,1,7,"2,874.30","20,120.10","1,667.09"
7,SO - 0009909,1/1/2015,45,Wholesale,GBP,AXW291,15,25,10,"1,045.20","10,452.00",679.38
8,SO - 0002911,1/2/2015,37,Wholesale,GBP,AXW291,6,15,6,911.20,"5,467.20",665.18
9,SO - 0003527,1/2/2015,8,Wholesale,GBP,AXW291,40,18,11,"1,701.80","18,719.80","1,429.51"

In [7]:
data['Channel'].value_counts()

Wholesale      5766
Distributor    3328
Export         1590
Name: Channel, dtype: int64